@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

*{
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}
body{
  padding: 1rem;
}
h2{
  text-align: center;
}

form{
  display: flex; 
  flex-direction: column;
  gap: .5rem;
  width:500px;
  margin: 0 auto;
  
}


label{
  font-weight: bold;
  margin-bottom: 5px;
}
input, select, textarea{
  width: 90%;
  padding: 10px;

  border: 1px solid #2d6076;
  border-radius: 10px;
  font-size: 1.1rem;

}
button{
  padding: 10px;
  width: 90%;
  border: none;
  background-color: #2d6076;
  color: #fff;
  font-size: 1.1rem;
  cursor: pointer;
}

  #email::-webkit-input-placeholder{
    color:#fff;
  }
  #password::-webkit-input-placeholder{
    color:#fff;
  }
  #name::-webkit-input-placeholder{
    color:#fff;
  }
  
  
  

  
  