
 p {
    
    font-size: 2rem;
    
 }
 

 .blue{
    padding: 7px;
     border: none;
     border-radius: 4px;
     cursor: pointer;

     background-color: blue;
     color: #fff;
 }
 .red {
    
   padding: 7px;
   border: none;
   border-radius: 4px;
   cursor: pointer;

   background-color: red;
   color: #fff;
   
}

 .green{
    padding: 7px;
     border: none;
     border-radius: 4px;
     cursor: pointer;

     background-color: green;
     color: #fff;
 }
 
#telefone{
   display: none;
}