@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Oswald:wght@400;600&display=swap');

body{
   background-color: #cedeeac8;
}

p{
  font-size: 4rem;
   text-align: center;
   font-family: 'Lilita One', cursive;
  
   color:#D96941; 
}
p::first-letter{
font-size: 8rem;
}


.blue{
   width:200px;
   margin-top: 10px;
   padding: 20px;
   font-family: 'Lilita One', cursive;
   font-size: 20px;
   background-color: #308cf5;
}



.yellow{
   width:200px;
   margin-top: 10px;
   padding: 20px;
   font-size: 20px;
   font-family: 'Lilita One', cursive;
   background-color: #ffff00;
}
.red{
   width:200px;
   margin-top: 10px;
   padding: 20px;
   font-size: 20px;
   font-family: 'Lilita One', cursive; ;
   background-color: #ff0000;
}
.pink{
   font-family: 'Lilita One', cursive;
   width:200px;
   margin-top: 10px;
   padding: 20px;
   font-size: 20px;
   background-color: #d87093;
}
div{
 margin: auto;
 
 width: 200px;
 height: 200px;

}








m




