body{
    background-color:#eeee;
}
aside{
    position: fixed;
    top:0;
    right: 0;
    z-index: 999;
    display: flex;

}
#menu-opener {
    width: 40px;
    height: 40px;
    cursor: pointer;
    margin-top: 10px;
    margin-right: 10px;
}
#menu-area{
    width: 0px;
    height: 100vh;
    background-color: #787676;
    overflow-x: hidden;
    overflow-y: auto;
    transition: all ease .5s;
}
#menu-area ul, #menu-area li{
    padding:0;  
    margin: 5px;
}
ul a {
   text-decoration: none;
   padding: 5px;
   color: #fff;
}
#menu-area li:hover{
    background-color: black;
}