body{
   margin: 0;
   font-family: sans-serif;
  
}
header{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    position: fixed;
    left:0;
    right:0;
    top:0;
}
header .logo{
    font-size: 30px;
    font-weight: bold;
    color:#fff;

}
header .menu{
    width:30px ;
    height: 20px;
    display: flex;
    flex-direction: column;
   justify-content: space-between;
    
}
header .menu-line{
    height: 3px;
    background-color: #333;
}
/*--Parte final do Cabeçalho--*/


.container{
    display: flex;
    height:100vh;
    
}
.container .leftside{
    flex: 1;
   background-color:#6c3702 ;
   display: flex;
   align-items: center;
   padding: 0 20px;
   
}
.container .rightside{
    flex: 1;
   background-image: url('../images/mulher.jpg');
   background-size: cover;
   background-position: center top;
}

.container .info{ /*----Container info---*/
    color:#fff;

}
.container .info .profession{ /*---container info profession*/
    font-weight: bold;
    text-transform: uppercase;
    font-size: 15px;
    color:#fff;
}
.container .info .name{
    font-weight: bold;
    font-size: 90px;
    margin-top: 10px;
    margin-bottom: 30px;
}
.container .info .buttons a{
    display: inline-block;
    background-color: #fff;
    color:#126b3a;
    padding: 20px 40px;
    text-decoration: none;
    font-size: 15px;
    border-radius: 8px;
    text-transform: uppercase;
    font-weight: bold;
    box-shadow: 0px 0px 15px #111 ;
    margin-right: 10px;
}
.container .info .buttons a.light {
    background-color: #126b3a;
    color:#fff;
    border-radius: 8px;
}
.container .info .buttons a:hover{
   opacity:0.8;
}

footer{
    position: fixed;
    left: 0;
    right:0;
    bottom:0;
    padding: 20px;
    color:#fff;
    font-size: 13px;
    
}
footer a {
    cursor: pointer;
    color: #fff;
}

@media(max-width: 850px) {
    
    header{
        position: initial;
        background-color: #6c3702;
    }
    
    header .menu-line{
        background-color: #fff;
    }
    
   .container{
    flex-direction: column;
     height: calc(100vh - 66px);
   }
   .container .leftside{
      flex: none;
      padding: 30px 20px;
      justify-content: center;
      align-items: center;
   }
   footer{
    position: initial;
    color: #126b3a;
    font-size: 16px;
   }
   footer a{
    color: #126b3a;
   }
}
@media (max-width: 450px) {
    .container .leftside .info .name{
       font-size: 45px;
    }
    .container .leftside .info .buttons a{
        display: block;
        margin-right: 0;
        margin-bottom: 15px;

    }
} 