body{
    margin: 20px;
   

}
.fightarea{
    display: flex;
    gap: 20px;
}
#char,
#monster {
    flex: 1;
}

.lifebar {
    height: 10px;
    border: 1px solid #000;
    border-radius: 5px;
}

.lifebar .bar{
    height: inherit;
    background-color: #2eac15;
    border-radius: 5px;
}
.log {
    border: 1px dotted #00000099;
    height: 200px;
    overflow-y: scroll;

    background-color: #bdb7b7;
}

button{
    margin-top: 10px;
}

.attaButton:hover {
    background-color: #0ea40e;
    color: #000;

   transform: scale(1.3);
}

ul{
    font-weight: bold;
    text-transform: uppercase;
    color: #000;

    
}