.fightarea{
    display: flex;
    gap: 20px;
}
#char,
#monster {
    flex: 1;
}

.lifebar {
    height: 10px;
    border: 1px solid #000;
    border-radius: 5px;
}

.lifebar .bar{
    height: inherit;
    background-color: #b22222;
    border-radius: 5px;
}
.log {
    border: 1px dotted #3f3f3f99;
    height: 200px;
    overflow-y: scroll;
}