

.areadecombate{
    display: flex;
    gap:20px;
}

#caracteres, #monstro{
    flex: 1;
}

.barradevida{
    height: 10px;
    border:2px solid #38ae0e;
    border-radius: 5px;
}
.barra{
    height: inherit;
    background-color: #55d908;
    border-radius: 5px;
}

.registro{
    border:  1px dotted #085feb;
    height: 200px;
    overflow-y: scroll;
}